<h1 #heading (click)="onHeadingClick()" >All about dogs</h1>

<p>The domestic <span class="animal">dog</span> is known as man's best friend. The <span class="animal">dog</span> was
  the first domesticated animal and has been widely kept as a working, hunting, and pet companion. According to recent
  coarse estimates, there are currently between 700 million and one billion <span class="animal">dog</span>s, making
  them the most abundant predators in the world. <a href="http://en.wikipedia.org/wiki/Dog">Read more on Wikipedia</a>.
</p>

<img (click)="logAnimalClassElements()" src="https://www.kasandbox.org/programming-images/animals/dog_sleeping-puppy.png" height="150">

<img class="animal" src="https://www.kasandbox.org/programming-images/animals/dogs_collies.png" height="150">

<app-access-to-dom-task></app-access-to-dom-task>
