<div class="row">
  <div class="col-xs-12 col-lg-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 col-md-4 form-group">
          <label for="car-brand">Samochód</label>
          <input id="car-brand" type="text" class="form-control" name="carBrand" [ngModel]="'Audi RS6'" required minlength="2"
                 #carBrand="ngModel">
        </div>
        <div class="row">
          <div style="color:#ff0066" *ngIf="carBrand.errors">
            <p *ngIf="carBrand.errors['required'] && (carBrand.dirty || carBrand.touched)">
              "Nazwa samochodu jest wymagana!"
            </p>
            <p *ngIf="carBrand.errors['minlength'] && (carBrand.dirty || carBrand.touched)">
              "Nazwa samochodu musi mieć conajmniej 2 znaki"
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label for="car-description">Opis zamówienia</label>
          <input id="car-description" type="text" class="form-control" name="carDescription" ngModel required>
        </div>
        <div class="col-sm-12 col-md-4 form-group">
          <label for="car-amount">Ilość</label>
          <input id="car-amount" type="number" class="form-control" name="carAmount" ngModel required>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 form-group">
            </div>
            <div class="col-sm-12 col-md-4 form-group">
              <button class="btn btn-success" type="submit">Dodaj</button>
              <button class="btn btn-danger" type="button">Usuń</button>
              <button class="btn btn-primary" type="button" (click)="onClear()">Wyczyść</button>
            </div>
            <div class="col-sm-12 col-md-4 form-group">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
